header {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
section{
    border-color: blueviolet;
    border-radius: 5%;
    border-width: 3px;
    background-color: #F1E9E9;

    font-family: Helvetica, sans-serif;
}

footer{
min-height: 100px;
background-color: #f5f5f5;
padding: 20px;
text-align: center;
color: #666;
}

a.main_quiz:visited {
    color: blueviolet;
}

a.main_quiz:hover {
    color: lightgreen;
}

a.main_quiz:focus {
    color: rgb(246, 111, 134);
}

a.main_quiz:active {
    color: olivedrab;
}
/* eu quero deixar isso aqui mais bonito, mas primeiro eu vou ver oq faz sentido pra página principal. */
/* o problema é que o desing tá em outro continente!!!*/