.bookcover {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    border: 5px solid black; 
    padding: 10px;
}

a.Back_Button:visited {
    color: blueviolet;
}

a.Back_Button:hover {
    color: lightgreen;
}

a.Back_Button:focus {
    color: rgb(246, 111, 134);
}

a.Back_Button:active {
    color: olivedrab;
}

/*vou criar uma moldura pra segurar a foto da capa do livro, masquero que ela fique vazia por enquanto acontece o desenvolvimento.*/
/*não sei se o css tem capacidade pra isso e tô torcendo pro react ser o suficiente pra deixar essa página agradável.*/

/* pos-analise: eu não acho que react é necessário, mas e vou terminar de fazer os três tipos essenciais pra ver se ainda sinto que tenho de colocar */
/* talvez um empregador ia gostar de ver react na página e eu coloco só de besta pra me exibir.*/