.main-box {
            
    background-color: #f0f0f0; 
    border: 10px solid #333;            
    box-sizing: border-box; 
    align-items: top;
    display: flex;
    justify-content: top; 
    align-items: top;     
}
.lower-main-box {
    align-items: baseline;
    background-color: #9b9b9b; 
    border: 10px solid #333;  
    padding: 20px;          
    margin: 10px;           
    box-sizing: border-box; 
}
